.linkteamsdk:link {
  color: #717375;
  text-decoration: none;
}

.linkteamsdk:hover {
  color: #717375;
  text-decoration: none;
}

.linkteamsdk:visited {
  color: #939799;
  text-decoration: none;
}