*{
    font-family: lato;
  }
  
  
  ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  // ion-menu.md ion-content {
  //   // --padding-start: 8px;
  //   // --padding-end: 8px;
  //   // --padding-top: 20px;
  //   // --padding-bottom: 20px;
  // }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  
  
  .menu-header-bg{
    height: 180px;
    width: 350px;
    background: #209DE8;
    background: linear-gradient(90deg, #209DE8 0%, #2081E8 100%);
    //background: linear-gradient(90deg, #e45b1b 0%, #be661d 100%); config orange
    box-shadow: 0px 1px 10px rgba(90, 133, 252, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -61px;
    margin-bottom: 60px;
  }
  
  .header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
  
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 7px solid #5e7cc5
    }
  
      .name{
        font-size: 15;
        font-family: Arial, Helvetica, sans-serif;
      }
      .firstname{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-left: 20px;
        color: #e4e4e4;
      }
  }
  
  .menu-items{
    margin: 0px;
    padding: 0px;
    ion-icon{
        margin-right: 25px;
        color: #86979f;
    }
    ion-item{
      padding-left: 20px;
      margin-bottom: 10px;
      :hover{
        color: #2081E8;
      }
    }
    .active{
      border-left: 5px solid;
      color: #2081E8;
      padding-left: 10px;
      ion-icon{
        color: #2081E8;
      }
    }
  
    
  
  }